@import url(https://fonts.googleapis.com/css?family=Bungee|Eczar:400,700);

$font-bungee: 'bungee', cursive;
$font-eczar: 'Eczar', serif;

*, 
::after, 
::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    font-family: $font-bungee;
}

.App {
  text-align: center;
}

.App-logo {
  //animation: app-logo-spin infinite 20s linear;
  height: 130px;
}

.App-header {
  height: auto;
  color: slategrey;
}

.App-intro {
  font-size: large;
}

.boxStyle {
    padding: 10px;
    margin-top: 50px;
    width: 400px;
    height: 450px;
    display: inline-block;
    font-family: monospace;
    border-radius: 20px;
    font-size: 32px;
    background-color: steelblue;
    border: 2px solid darkslateblue;
    text-align: center;
}

.boxContents {
    display: inline-block;
    vertical-align: middle;
    line-height: 450px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.q_text {
    width: 100%;
    line-height: 2em;
    font-size: 2em;
    font-weight: bold;
    border: 0;
    outline: 0;
    -webkit-apperance: none;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
}
.rmc-picker-item, 
input[type='text'], 
input[type='number'], 
textarea {
    border-radius: 0.3em;
    text-align: center;
    font-family: $font-eczar;
    height: auto;
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content;}
    &:-moz-placeholder {opacity: 1; @content;}
    &::-moz-placeholder {opacity: 1; @content;}
    &:-ms-input-placeholder {@content;}
}

input {
    @include placeholder {
	font-family: $font-bungee;    	
	line-height: 2em;    	
	font-size: 0.9em;
	color: grey;
    }
}

.q_text {
    @include placeholder {
	font-family: $font-bungee;    	
	line-height: 4em;
	font-size: 0.5em;
	color: orange;
	vertical-align: middle;
    }
}

.answer {
    color: lightcoral;
    font-weight: bold;
}
